(
    options: (
        theme_preference: System,
        fallback_theme: Dark,
        zoom_factor: 1.0,
        tessellation_options: (
            feathering: true,
            feathering_size_in_pixels: 1.0,
            coarse_tessellation_culling: true,
            prerasterized_discs: true,
            round_text_to_pixels: true,
            round_line_segments_to_pixels: true,
            round_rects_to_pixels: true,
            debug_paint_clip_rects: false,
            debug_paint_text_rects: false,
            debug_ignore_clip_rects: false,
            bezier_tolerance: 0.1,
            epsilon: 0.00001,
            parallel_tessellation: true,
            validate_meshes: false,
        ),
        repaint_on_widget_change: false,
        max_passes: 2,
        screen_reader: false,
        warn_on_id_clash: true,
        input_options: (
            line_scroll_speed: 40.0,
            scroll_zoom_speed: 0.005,
            max_click_dist: 6.0,
            max_click_duration: 0.8,
            max_double_click_delay: 0.3,
            zoom_modifier: (
                alt: false,
                ctrl: false,
                shift: false,
                mac_cmd: false,
                command: true,
            ),
            horizontal_scroll_modifier: (
                alt: false,
                ctrl: false,
                shift: true,
                mac_cmd: false,
                command: false,
            ),
            vertical_scroll_modifier: (
                alt: true,
                ctrl: false,
                shift: false,
                mac_cmd: false,
                command: false,
            ),
            surrender_focus_on: Clicks,
        ),
        reduce_texture_memory: false,
    ),
    dark_style: (
        override_text_style: None,
        override_font_id: None,
        override_text_valign: Some(Center),
        text_styles: {
            Small: (
                size: 10.0,
                family: Name("clay-editor-segoe-light"),
            ),
            Body: (
                size: 12.0,
                family: Proportional,
            ),
            Monospace: (
                size: 13.0,
                family: Monospace,
            ),
            Button: (
                size: 12.0,
                family: Proportional,
            ),
            Heading: (
                size: 14.0,
                family: Name("clay-editor-segoe-bold"),
            ),
        },
        drag_value_text_style: Button,
        wrap: None,
        wrap_mode: None,
        spacing: (
            item_spacing: (
                x: 8.0,
                y: 1.0,
            ),
            window_margin: (
                left: 6,
                right: 6,
                top: 6,
                bottom: 6,
            ),
            button_padding: (
                x: 8.0,
                y: 2.0,
            ),
            menu_margin: (
                left: 6,
                right: 6,
                top: 6,
                bottom: 6,
            ),
            indent: 18.0,
            interact_size: (
                x: 40.0,
                y: 28.0,
            ),
            slider_width: 128.0,
            slider_rail_height: 8.0,
            combo_width: 128.0,
            text_edit_width: 280.0,
            icon_width: 14.0,
            icon_width_inner: 8.0,
            icon_spacing: 4.0,
            default_area_size: (
                x: 600.0,
                y: 400.0,
            ),
            tooltip_width: 500.0,
            menu_width: 400.0,
            menu_spacing: 2.0,
            indent_ends_with_horizontal_line: false,
            combo_height: 200.0,
            scroll: (
                floating: true,
                bar_width: 10.0,
                handle_min_length: 12.0,
                bar_inner_margin: 4.0,
                bar_outer_margin: 0.0,
                floating_width: 2.0,
                floating_allocated_width: 0.0,
                foreground_color: true,
                dormant_background_opacity: 0.0,
                active_background_opacity: 0.4,
                interact_background_opacity: 0.7,
                dormant_handle_opacity: 0.0,
                active_handle_opacity: 0.6,
                interact_handle_opacity: 1.0,
            ),
        ),
        interaction: (
            interact_radius: 5.0,
            resize_grab_radius_side: 5.0,
            resize_grab_radius_corner: 10.0,
            show_tooltips_only_when_still: true,
            tooltip_delay: 0.5,
            tooltip_grace_time: 0.2,
            selectable_labels: true,
            multi_widget_text_select: true,
        ),
        visuals: (
            dark_mode: true,
            text_alpha_from_coverage: TwoCoverageMinusCoverageSq,
            override_text_color: Some(((232, 232, 232, 255))),
            weak_text_alpha: 0.6,
            weak_text_color: None,
            widgets: (
                noninteractive: (
                    bg_fill: ((32, 32, 32, 255)),
                    weak_bg_fill: ((32, 32, 32, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((68, 68, 68, 255)),
                    ),
                    corner_radius: (
                        nw: 5,
                        ne: 5,
                        sw: 5,
                        se: 5,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((206, 206, 206, 255)),
                    ),
                    expansion: 0.0,
                ),
                inactive: (
                    bg_fill: ((44, 44, 44, 255)),
                    weak_bg_fill: ((44, 44, 44, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((84, 84, 84, 255)),
                    ),
                    corner_radius: (
                        nw: 5,
                        ne: 5,
                        sw: 5,
                        se: 5,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((210, 210, 210, 255)),
                    ),
                    expansion: 0.0,
                ),
                hovered: (
                    bg_fill: ((62, 62, 62, 255)),
                    weak_bg_fill: ((62, 62, 62, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((102, 102, 102, 255)),
                    ),
                    corner_radius: (
                        nw: 5,
                        ne: 5,
                        sw: 5,
                        se: 5,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((224, 224, 224, 255)),
                    ),
                    expansion: 0.0,
                ),
                active: (
                    bg_fill: ((78, 78, 78, 255)),
                    weak_bg_fill: ((78, 78, 78, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((116, 116, 116, 255)),
                    ),
                    corner_radius: (
                        nw: 5,
                        ne: 5,
                        sw: 5,
                        se: 5,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((232, 232, 232, 255)),
                    ),
                    expansion: 0.0,
                ),
                open: (
                    bg_fill: ((54, 54, 54, 255)),
                    weak_bg_fill: ((54, 54, 54, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((94, 94, 94, 255)),
                    ),
                    corner_radius: (
                        nw: 5,
                        ne: 5,
                        sw: 5,
                        se: 5,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((220, 220, 220, 255)),
                    ),
                    expansion: 0.0,
                ),
            ),
            selection: (
                bg_fill: ((88, 88, 88, 255)),
                stroke: (
                    width: 1.0,
                    color: ((230, 230, 230, 255)),
                ),
            ),
            hyperlink_color: ((200, 200, 200, 255)),
            faint_bg_color: ((38, 38, 38, 255)),
            extreme_bg_color: ((18, 18, 18, 255)),
            text_edit_bg_color: None,
            code_bg_color: ((30, 30, 30, 255)),
            warn_fg_color: ((220, 220, 220, 255)),
            error_fg_color: ((210, 210, 210, 255)),
            window_corner_radius: (
                nw: 6,
                ne: 6,
                sw: 6,
                se: 6,
            ),
            window_shadow: (
                offset: (10, 20),
                blur: 15,
                spread: 0,
                color: ((0, 0, 0, 96)),
            ),
            window_fill: ((43, 43, 43, 255)),
            window_stroke: (
                width: 1.0,
                color: ((86, 86, 86, 255)),
            ),
            window_highlight_topmost: true,
            menu_corner_radius: (
                nw: 6,
                ne: 6,
                sw: 6,
                se: 6,
            ),
            panel_fill: ((43, 43, 43, 255)),
            popup_shadow: (
                offset: (6, 10),
                blur: 8,
                spread: 0,
                color: ((0, 0, 0, 96)),
            ),
            resize_corner_size: 12.0,
            text_cursor: (
                stroke: (
                    width: 2.0,
                    color: ((192, 222, 255, 255)),
                ),
                preview: false,
                blink: true,
                on_duration: 0.5,
                off_duration: 0.5,
            ),
            clip_rect_margin: 3.0,
            button_frame: true,
            collapsing_header_frame: false,
            indent_has_left_vline: true,
            striped: false,
            slider_trailing_fill: false,
            handle_shape: Circle,
            interact_cursor: Some(PointingHand),
            image_loading_spinners: true,
            numeric_color_space: GammaByte,
            disabled_alpha: 0.5,
        ),
        animation_time: 0.1,
        debug: (
            debug_on_hover: false,
            debug_on_hover_with_all_modifiers: false,
            hover_shows_next: false,
            show_expand_width: false,
            show_expand_height: false,
            show_resize: false,
            show_interactive_widgets: false,
            show_widget_hits: false,
            show_unaligned: true,
        ),
        explanation_tooltips: false,
        url_in_tooltip: false,
        always_scroll_the_only_direction: false,
        scroll_animation: (
            points_per_second: 1000.0,
            duration: (
                min: 0.1,
                max: 0.3,
            ),
        ),
        compact_menu_style: true,
    ),
    light_style: (
        override_text_style: None,
        override_font_id: None,
        override_text_valign: Some(Center),
        text_styles: {
            Small: (
                size: 9.0,
                family: Proportional,
            ),
            Body: (
                size: 13.0,
                family: Proportional,
            ),
            Monospace: (
                size: 13.0,
                family: Monospace,
            ),
            Button: (
                size: 13.0,
                family: Proportional,
            ),
            Heading: (
                size: 18.0,
                family: Proportional,
            ),
        },
        drag_value_text_style: Button,
        wrap: None,
        wrap_mode: None,
        spacing: (
            item_spacing: (
                x: 8.0,
                y: 3.0,
            ),
            window_margin: (
                left: 6,
                right: 6,
                top: 6,
                bottom: 6,
            ),
            button_padding: (
                x: 4.0,
                y: 1.0,
            ),
            menu_margin: (
                left: 6,
                right: 6,
                top: 6,
                bottom: 6,
            ),
            indent: 18.0,
            interact_size: (
                x: 40.0,
                y: 18.0,
            ),
            slider_width: 100.0,
            slider_rail_height: 8.0,
            combo_width: 100.0,
            text_edit_width: 280.0,
            icon_width: 14.0,
            icon_width_inner: 8.0,
            icon_spacing: 4.0,
            default_area_size: (
                x: 600.0,
                y: 400.0,
            ),
            tooltip_width: 500.0,
            menu_width: 400.0,
            menu_spacing: 2.0,
            indent_ends_with_horizontal_line: false,
            combo_height: 200.0,
            scroll: (
                floating: true,
                bar_width: 10.0,
                handle_min_length: 12.0,
                bar_inner_margin: 4.0,
                bar_outer_margin: 0.0,
                floating_width: 2.0,
                floating_allocated_width: 0.0,
                foreground_color: true,
                dormant_background_opacity: 0.0,
                active_background_opacity: 0.4,
                interact_background_opacity: 0.7,
                dormant_handle_opacity: 0.0,
                active_handle_opacity: 0.6,
                interact_handle_opacity: 1.0,
            ),
        ),
        interaction: (
            interact_radius: 5.0,
            resize_grab_radius_side: 5.0,
            resize_grab_radius_corner: 10.0,
            show_tooltips_only_when_still: true,
            tooltip_delay: 0.5,
            tooltip_grace_time: 0.2,
            selectable_labels: true,
            multi_widget_text_select: true,
        ),
        visuals: (
            dark_mode: false,
            text_alpha_from_coverage: Linear,
            override_text_color: None,
            weak_text_alpha: 0.6,
            weak_text_color: None,
            widgets: (
                noninteractive: (
                    bg_fill: ((248, 248, 248, 255)),
                    weak_bg_fill: ((248, 248, 248, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((190, 190, 190, 255)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((80, 80, 80, 255)),
                    ),
                    expansion: 0.0,
                ),
                inactive: (
                    bg_fill: ((230, 230, 230, 255)),
                    weak_bg_fill: ((230, 230, 230, 255)),
                    bg_stroke: (
                        width: 0.0,
                        color: ((0, 0, 0, 0)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((60, 60, 60, 255)),
                    ),
                    expansion: 0.0,
                ),
                hovered: (
                    bg_fill: ((220, 220, 220, 255)),
                    weak_bg_fill: ((220, 220, 220, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((105, 105, 105, 255)),
                    ),
                    corner_radius: (
                        nw: 3,
                        ne: 3,
                        sw: 3,
                        se: 3,
                    ),
                    fg_stroke: (
                        width: 1.5,
                        color: ((0, 0, 0, 255)),
                    ),
                    expansion: 1.0,
                ),
                active: (
                    bg_fill: ((165, 165, 165, 255)),
                    weak_bg_fill: ((165, 165, 165, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((0, 0, 0, 255)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 2.0,
                        color: ((0, 0, 0, 255)),
                    ),
                    expansion: 1.0,
                ),
                open: (
                    bg_fill: ((220, 220, 220, 255)),
                    weak_bg_fill: ((220, 220, 220, 255)),
                    bg_stroke: (
                        width: 1.0,
                        color: ((160, 160, 160, 255)),
                    ),
                    corner_radius: (
                        nw: 2,
                        ne: 2,
                        sw: 2,
                        se: 2,
                    ),
                    fg_stroke: (
                        width: 1.0,
                        color: ((0, 0, 0, 255)),
                    ),
                    expansion: 0.0,
                ),
            ),
            selection: (
                bg_fill: ((144, 209, 255, 255)),
                stroke: (
                    width: 1.0,
                    color: ((0, 83, 125, 255)),
                ),
            ),
            hyperlink_color: ((0, 155, 255, 255)),
            faint_bg_color: ((5, 5, 5, 0)),
            extreme_bg_color: ((255, 255, 255, 255)),
            text_edit_bg_color: None,
            code_bg_color: ((230, 230, 230, 255)),
            warn_fg_color: ((255, 100, 0, 255)),
            error_fg_color: ((255, 0, 0, 255)),
            window_corner_radius: (
                nw: 6,
                ne: 6,
                sw: 6,
                se: 6,
            ),
            window_shadow: (
                offset: (10, 20),
                blur: 15,
                spread: 0,
                color: ((0, 0, 0, 25)),
            ),
            window_fill: ((248, 248, 248, 255)),
            window_stroke: (
                width: 1.0,
                color: ((190, 190, 190, 255)),
            ),
            window_highlight_topmost: true,
            menu_corner_radius: (
                nw: 6,
                ne: 6,
                sw: 6,
                se: 6,
            ),
            panel_fill: ((248, 248, 248, 255)),
            popup_shadow: (
                offset: (6, 10),
                blur: 8,
                spread: 0,
                color: ((0, 0, 0, 25)),
            ),
            resize_corner_size: 12.0,
            text_cursor: (
                stroke: (
                    width: 2.0,
                    color: ((0, 83, 125, 255)),
                ),
                preview: false,
                blink: true,
                on_duration: 0.5,
                off_duration: 0.5,
            ),
            clip_rect_margin: 3.0,
            button_frame: true,
            collapsing_header_frame: false,
            indent_has_left_vline: true,
            striped: false,
            slider_trailing_fill: false,
            handle_shape: Rect(
                aspect_ratio: 0.75,
            ),
            interact_cursor: None,
            image_loading_spinners: true,
            numeric_color_space: GammaByte,
            disabled_alpha: 0.5,
        ),
        animation_time: 0.1,
        debug: (
            debug_on_hover: false,
            debug_on_hover_with_all_modifiers: false,
            hover_shows_next: false,
            show_expand_width: false,
            show_expand_height: false,
            show_resize: false,
            show_interactive_widgets: false,
            show_widget_hits: false,
            show_unaligned: true,
        ),
        explanation_tooltips: false,
        url_in_tooltip: false,
        always_scroll_the_only_direction: false,
        scroll_animation: (
            points_per_second: 1000.0,
            duration: (
                min: 0.1,
                max: 0.3,
            ),
        ),
        compact_menu_style: true,
    ),
)